<form
  (ngSubmit)="login()"
  class="card w-50 p-3 m-auto mt-5"
  #loginForm="ngForm"
>
  <div class="blob"></div>
  <div class="bg"></div>

  <h5 class="card-title mb-3">Login</h5>
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      name="username"
      [ngModel]="username"
      required
      #usernameModel="ngModel"
    />
    <p *ngIf="!usernameModel.valid && usernameModel.touched">
      Username inválido
    </p>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="password"
      required
    />
  </div>
  <!-- Envolva os botões em um contêiner div -->
  <div class="form-buttons">
    <button
      type="submit"
      [disabled]="!loginForm.valid"
      class="btn"
    >
      Login
    </button>
    <button
      type="button"
      (click)="loginForm.reset()"
      class="btn btn-primary"
    >
      Reset
    </button>
    <button routerLink="/registration" class="btn btn-primary">
      Create account
    </button>
  </div>
</form>
